<div id="game-over">
  <% if game.scores.order(points: 'desc').first(10).include?(score) && score > 0 %>
    <h2 class="mb-5">NEW HIGHSCORE!</h2>
  <% else %>
    <H2>GAME OVER</H2>
  <% end %>

  <button class="m-3" data-tetris-target="replayBtn" data-action="click->tetris#replay">PLAY AGAIN?</button>

  <% unless user_signed_in? %>
    <div class="my-5 d-flex flex-column align-items-center justify-content-center">
      <h3>Sign in to save your score.</h3>
      <%= link_to 'Sign in', score_path(score) %>
    </div>
  <% end %>
</div>
