<div id="start" data-tetris-target="start">
  <h2>Controls</h2>
  <h3>Move</h3>
  <div class="d-flex justify-content-between mb-3">
    <p class="px-3"><i class="fa-solid fa-arrow-left-long"></i></p>
    <p class="px-3"><i class="fa-solid fa-arrow-down-long"></i></p>
    <p class="px-3"><i class="fa-solid fa-arrow-right-long"></i></p>
  </div>
  <h3> Rotate</h3>
  <div class="d-flex justify-content-between mb-3">
    <p class="px-3">SPACE</p>
  </div>
  <h3> Mute audio</h3>
  <div class="d-flex justify-content-between mb-3">
    <p class="px-3">M</p>
  </div>
  <h3> Pause game</h3>
  <div class="d-flex justify-content-between mb-3">
    <p class="px-3">P</p>
  </div>
  <button data-action="click->tetris#start">START</button>
</div>
