<div class="tetris" data-controller="hello">
  <% 22.times do %>
    <div class="d-flex justify-content-center">
      <% 12.times do %>
        <div class="grid"></div>
      <% end %>
    </div>
  <% end %>
</div>
