<div class="tetris" data-controller="tetris" data-action="keydown@window->tetris#moveInput keyup@window->tetris#removeInput">
  <% y = 0 %>
  <% 22.times do %>
    <div class="d-flex justify-content-center" data-tetris-target="row">
      <% x = 0 %>
      <% 12.times do %>
        <div id="<%= x %>,<%= y %>" class="grid empty" data-tetris-target="grid"></div>
        <% x += 1 %>
      <% end %>
    </div>
    <% y += 1 %>
  <% end %>
  <button class="btn btn-primary m-3" data-tetris-target="startBtn" data-action="click->tetris#start">START</button>
  <div id="game-over"><H2>GAME OVER</H2></div>

  <div id="score">
    <h3>SCORE</h3>
    <p>0</p>
  </div>
</div>
