<h1 class="pt-5">Select a game</h1>


<div class="d-flex flex-column align-items-center justify-content-center pt-5">
  <% @games.each do |game| %>
    <%= button_to game.name.upcase, game_path(game), method: :get %>
  <% end %>
</div>
