<h1 class="p-3"><%= @game.name %></h1>

<% if @device == 'smartphone' || @device == 'tablet' %>
  <%= render "games/#{@game.name.downcase}/mobile/#{@game.name.downcase}", formats: :html, game: @game %>
<% else %>
  <%= render "games/#{@game.name.downcase}/#{@game.name.downcase}", formats: :html, game: @game %>
<% end %>
