button {
  padding: 0.5em 1em;
  font-size: 1.5rem!important;
  border-radius: 8px!important;
  background: linear-gradient(140deg, #000, #000, #000, #000, #333);
  color: #eee;
  border: #222 1px solid;
  box-shadow: 2px 2px 8px #00000055;

  &:hover {
    color: #eee;
    opacity: 0.9
  }
}

a {
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 8px!important;
  color: #eee!important;
  text-decoration: none!important;

  &:hover {
    color: #eee;
    opacity: 0.9
  }
}
