input {
  background: linear-gradient(140deg, #444, #444, #444, #444, #666)!important;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 8px!important;
  color: #eee!important;
  text-decoration: none!important;

  &:hover {
    color: #eee;
    opacity: 0.9
  }
}

h2, h3, p {
  color: #eee;
  text-align: center;
}

.field {
  label {
    color: #eee!important;
    text-shadow: 0 0 2px #000;
  }

  em {
    color:#eee;
  }

  .radio {
    width: fit-content;
  }

  input {
    background: linear-gradient(140deg, #444, #444, #444, #444, #666)!important;
    padding: 0.5em 1em;
    font-size: 1rem;
    border-radius: 8px!important;
    border: none!important;
    color: #eee!important;
    text-decoration: none!important;
    width: 100%;
  }
}

.actions {
  .submit {
    text-align: center;
    width: fit-content;
  }
}
