h1 {
  text-align: center;
}

.tetris {

  width: 100%;

  * {
    box-sizing: border-box;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  #score {
    position: absolute;
    top: 0;
    left: 75%;
  }

  #game-over {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #00000088;
    color: white;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .grid {
    border: 1px grey solid;
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 0;
    margin: -0.5px;
  }

  .next-piece {
    border: #00000055 1px solid;
    border-radius: 5px;
    padding: 12px;
    width: fit-content;
    height: fit-content;
  }

  .next-grid {
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 0;
    margin: -0.5px;
  }

  .green {
    background-color: rgb(0, 189, 0);
    border: solid rgb(0, 156, 0) 2px;
  }

  .orange {
    background-color: rgb(255, 145, 0);
    border: solid rgb(194, 132, 0) 2px;
  }

  .purple {
    background-color: rgb(212, 0, 255);
    border: solid rgb(172, 0, 214) 2px;
  }

  .blue {
    background-color: rgb(0, 0, 255);
    border: solid rgb(0, 0, 211) 2px;
  }

  .red {
    background-color: rgb(255, 0, 0);
    border: solid rgb(207, 0, 0) 2px;
  }

  .pink {
    background-color: rgb(255, 0, 106);
    border: solid rgb(224, 0, 75) 2px;
  }

  .yellow {
    background-color: rgb(255, 217, 0);
    border: solid rgb(212, 168, 0) 2px;
  }

}
