h1 {
  text-align: center;
  color: #eee
}

.tetris {
  width: 100%;
  color: #eee;

  * {
    box-sizing: border-box;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  max-height: 95vh;

  #high-scores {
    height: fit-content;
    padding: 0 1em;
    background-color: #000000aa;

    h3 {
      padding: 1em 0;
      text-align: left;
    }
  }

  #highscores-modal {
    display: none;
    position : absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: #000000aa;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition-duration: 1000ms;

    .content {
      padding: 1em 3em;
      width: 60%;
      border: 1px #eee solid;
      border-radius: 15px;
      background-color: #000000;
    }

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  #start {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    h2 {
      padding-top: 1em;
      margin-bottom: 3em;
    }
    h3 {
      border-bottom: #eee solid 1px;
    }
  }

  #paused,
  #game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #00000088;
    color: white;
    font-size: 3rem;
  }

  .scoreboard {
    border:#888 1px solid;
    border-radius: 15px;
    background-color: #000000aa;


    h3 {
      padding-top: 1em;
    }
  }

  .board {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #000000aa;
    border: solid #888 1px;
    border-radius: 15px;
    overflow: hidden;
    touch-action: none;
  }

  .grid {
    position: relative;
    display: inline-block;
    padding: 0;
  }

  #start {
    i {
      font-size: 1rem;
    }

    i:hover {
      cursor: pointer;
      opacity: 0.9;
    }

  }

  .volume-control {
    i:last-child {
    display: none;
    }
  }

  .next-piece {
    height: fit-content;
    border: #888 1px solid;
    border-radius: 15px;
    padding: 14px;
    background-color: #000000aa;
  }

  .next-grid {
    display: inline-block;
    padding: 0;
  }

  .green {
    background-color: rgb(0, 189, 0);
    border: solid rgb(0, 156, 0) 2px;
    z-index: 1;
  }

  .orange {
    background-color: rgb(255, 145, 0);
    border: solid rgb(194, 132, 0) 2px;
    z-index: 1;
  }

  .purple {
    background-color: rgb(212, 0, 255);
    border: solid rgb(172, 0, 214) 2px;
    z-index: 1;
  }

  .blue {
    background-color: rgb(0, 0, 255);
    border: solid rgb(0, 0, 211) 2px;
    z-index: 1;
  }

  .red {
    background-color: rgb(255, 0, 0);
    border: solid rgb(207, 0, 0) 2px;
    z-index: 1;
  }

  .pink {
    background-color: rgb(255, 0, 106);
    border: solid rgb(224, 0, 75) 2px;
    z-index: 1;
  }

  .yellow {
    background-color: rgb(255, 217, 0);
    border: solid rgb(212, 168, 0) 2px;
    z-index: 1;
  }

  .cyan {
    background-color: rgb(0, 195, 255);
    border: solid rgb(0, 163, 228) 2px;
    z-index: 1;
  }

  .magenta {
    background-color: rgb(88, 0, 110);
    border: solid rgb(47, 0, 75) 2px;
    z-index: 1;
  }

  .peach {
    background-color: rgb(255, 215, 129);
    border: solid rgb(192, 176, 104) 2px;
    z-index: 1;
  }

  .explosion {
    transform: scale(1.5);
    transform-origin: 50% 100%;
    background-image: url('explosion.png')!important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none!important;
    transition-duration: 1000ms;
    z-index: 1000;
    padding-top: 180px;
    margin-top: -180px;
  }

  .no-borders {
    border: none!important;
    background-color: #00000000;
  }



  @media only screen and (min-height: 600px) and (min-width: 320px) {

    .explosion {
      padding-top: 220px;
      margin-top: -220px;
    }
  }

  @media only screen and (min-height: 720px) and (min-width: 380px) {

    .explosion {
      padding-top: 220px;
      margin-top: -220px;
    }
  }

  @media only screen and (min-height: 900px) and (min-width: 720px) {

    .explosion {
      padding-top: 282px;
      margin-top: -282px;
    }
  }

  @media only screen and (min-height: 1080px) and (min-width: 900px) {

    .explosion {
      padding-top: 350px;
      margin-top: -350px;
    }
  }
}
