<h3 class="pt-1">Highscores</h3>

<div class="d-flex flex-column pt-3">
  <% if scores.order(points: :desc).where('points > 0').count > 0 %>
    <% scores.order(points: :desc).where('points > 0').first(10).each do |score| %>
      <div class="d-flex justify-content-between">
        <p><%= score.user.username %></p>
        <p><%= score.points %></p>
      </div>
    <% end %>
  <% else %>
    <p>No highscores yet.</p>
  <% end %>
</div>
