<div id="start" data-tetris-target="start">
  <h2>Controls</h2>

  <div class="d-flex justify-content-between px-5 mb-5 w-100">
    <p class="px-3 action">Move</p>
    <div class="d-flex justify-content-between">
      <p class="px-3"><i class="fa-solid fa-arrow-left-long"></i></p>
      <p class="px-3"><i class="fa-solid fa-arrow-down-long"></i></p>
      <p class="px-3"><i class="fa-solid fa-arrow-right-long"></i></p>
    </div>
  </div>

  <div class="d-flex justify-content-between px-5 mb-5 w-100 text-end">
    <p class="px-3">Rotate</p>
    <p class="px-3">SPACE</p>
  </div>

  <div class="d-flex justify-content-between px-5 mb-5 w-100 text-end">
    <p class="px-3">Mute</p>
    <p class="px-3">M</p>
  </div>

  <div class="d-flex justify-content-between px-5 mb-5 w-100 text-end">
    <p class="px-3">Pause</p>
    <p class="px-3">P</p>
  </div>
  <button data-action="click->tetris#start" data-tetris-target="startBtn">START</button>
</div>
